<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/head :: common-header"/>
<body>
<section id="container" class="">
	<div th:replace="common/head :: navbar" />
	<div th:replace="common/head :: sibebar" />
<section id="main-content">
<section class="wrapper">

<!-- Main Section Starts -->
	    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-laptop"></i> <strong>All Pages</strong></h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a th:href="@{/}">Home</a></li>
                <li><i class="fa fa-file-text-o" aria-hidden="true"></i>All Pages</li>
            </ol>
        </div>
    </div>
<!-- Start -->


	
		<div class="table-responsive">
			<table id="productListTable"
				class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th class="text-center"><input th:id="selectAllProducts" type="checkbox" /></th>
						<th class="text-center">ID</th>
						<th class="text-center">Promo Code</th>
						<th class="text-center">Start / Expiry Date</th>
						<th class="text-center">Promo Value</th>
						<th class="text-center">Promo Details</th>
						<th class="text-center">Status</th>
						<th class="text-center"><i class="icon_cogs"></i> Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${emptyPage}">
						<td>No promo codes to dispaly</td>
					</tr>
					<tr th:if="!${emptyPage}" data-th-each="promocode : ${promoCodesList}">
						<td class="col-md-1 text-center">
						<input hidden="hidden" name="id" th:value="${promocode.id}"/>
						<input th:id="'selected'+${promocode.id}" class="checkboxProduct" type="checkbox" />
						</td>	

						<td class="col-md-1 text-center">
								<a th:href="@{/coupons/details/}+${promocode.id}">

									<span th:text="${promocode.id}"></span>
								</a>
						</td>
						

						<td class="col-md-1 text-center">
							<a th:href="@{/coupons/details/}+${promocode.id}">
									<strong><span class="uppercase" th:text="${promocode.couponCode}" ></span></strong>
								</a>
						</td>
						<td class="col-md-2 text-left">
							<strong><span>Added By : </span></strong><span th:text="${promocode.addedBy}" ></span><br/>
							<strong><span>Added On : </span></strong><span th:text="${promocode.addedOn}" ></span><br/>
							<br/>
							<strong><span>Modified By : </span></strong><span th:text="${promocode.updatedBy}" ></span><br/>
							<strong><span>Modified On : </span></strong><span th:text="${promocode.updatedOn}" ></span><br/>
							<br/>
							<strong><span>Start : </span></strong><span th:text="${promocode.startDate}" ></span><br/>	
							<strong><span>Expiration : </span></strong><span th:text="${promocode.expiryDate}" ></span>	
						</td>
						<td class="col-md-2 text-center">
							<strong><span th:text="${promocode.promoValue}" ></span>	
							<span th:text="${promocode.PercentOrDollar}" ></span></strong>
						</td>
						<td class="col-md-2 text-left">
							<strong><span>Cart Minimum : </span>$</strong><span th:text="${promocode.cartTotal}" ></span><br/>
							<strong><span>Minimum CartItems: </span></strong><span th:text="${promocode.cartItemQty}" ></span> item(s)<br/>
							<br/>
							<strong><span>Promo Type : </span></strong><span class="uppercase" th:text="${promocode.promoType}" ></span><br/>
							<br/>
							<strong><span>Promo Count : </span></strong><span class="uppercase" th:text="${promocode.promoUseCount}" ></span><br/>
							<strong><span>Used Count : </span></strong><span class="uppercase" th:text="${promocode.promoUsedCount}" ></span>
						</td>
						<td th:text="${promocode.promoStatus}? ${#strings.toUpperCase('Active')} : ${#strings.toUpperCase('Inactive')}" 
						class="col-md-1 text-center"></td>
						
						<td class="col-md-2 text-center">
							<input hidden="hidden" name="id" th:value="${promocode.id}"/>
							<a class="btn btn-default btn-xs edit-product" th:href="@{/pages/publish/}+${promocode.id}">
							<span class="fa fa-pencil-square-o"></span> <span th:text="${promocode.promoStatus}? ${('Inactive')} : 'Active'" ></span></a>
							<a class="btn btn-primary btn-xs edit-product" th:href="@{/pages/edit/}+${promocode.id}">
							<span class="fa fa-pencil-square-o"></span> Edit</a>
							<button th:id="'oneProduct-'+${promocode.id}" class="btn btn-danger btn-xs delete-product" type="submit" value="delete">
							<span class="fa fa-times"></span> Delete</button>		
						</td>
					</tr>
				</tbody>
			</table>
		</div>
<button th:id="deleteSelected" class="btn btn-danger">Delete Selected</button>
							
	
	
	
	<!-- End -->
</section>

</section></section>
	<div th:replace="common/head :: body-bottom-scripts" />
	<script>
		$(document).ready(function(){
			$("#productListTable").DataTable({
				"lengthMenu": [[5,10,15,20,-1],[5,10,15,20,"All"]],
				"ordering": false,
			//	"order": [[ 2, "desc" ]],
				stateSave: true
			});
		});
	</script>
</body>
</html>
