<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/head :: common-header"/>
<body>
<section id="container" class="">
	<div th:replace="common/head :: navbar" />
	<div th:replace="common/head :: sibebar" />
<section id="main-content">
<section class="wrapper">

<!-- Main Section Starts -->
	    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-laptop"></i> <strong>General Settings</strong></h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a th:href="@{/}">Home</a></li>
                <li><i class="fa fa-folder"></i><a th:href="@{/}">Settings</a></li>
                <li><i class="fa fa-laptop"></i>General Settings</li>
            </ol>
        </div>
    </div>
<!-- Start -->
<div class="row">

<div class="col-md-12 well">
	<h2>General Settings</h2>
	<form id="catform" class="form-horizontal col-md-12" action=""
				method="post">
				<fieldset>
	<div class="col-md-5">
	
				
				<!-- title -->
					<div class="form-group">
						<label for="freeShippingMin">Minimum for Free Shipping</label>
						
							<input type="text" name="freeShippingMin" class="form-control" id="freeShippingMin"
								th:value="${siteSettings.freeShippingMin}" required="required"
								placeholder="Minimum for Free Shipping" /> 
						
					</div>
					
					<!-- Slug -->
					<div class="form-group">
						<label for="shippingCost">Shipping Cost</label>
						
							<input type="number" name="shippingCost" class="form-control" id="shippingCost"
								th:value="${siteSettings.shippingCost}" required="required"
								placeholder="Shipping Cost" /> 
						
					</div>
					<div class="form-group">
						
							<button type="submit" id="updatesettings" class="btn btn-success">Save</button>
							<a class="btn btn-danger" th:href="@{/}">Cancel</a>
						
					</div>	
					
					
		
		</div>
		<div class="col-md-5 col-md-offset-1">
					<!-- Slides -->
					<div class="form-group">
						<label for="homeSlide">Home Page Slides</label>
						
							<input type="text" name="homeSlide" class="form-control" id="homeSlide"
								th:value="${siteSettings.homeSlide}" required="required"
								placeholder="Home Page Slides" /> 
						
					</div>
		</div>
		</fieldset>
	</form>
</div>	
</div>
	
	
	<!-- End -->
</section>

</section></section>
	<div th:replace="common/head :: body-bottom-scripts" />
	
</body>
</html>
